# OLS and Fixed Effect

In [18]:
from linearmodels.datasets import wage_panel

data = wage_panel.load()
data.head(10)

# nr: individual id
# lwage: log of wage -> y
# married -> T

,nr,year,black,exper,hisp,hours,married,educ,union,lwage,expersq,occupation
0,13,1980,0,1,0,2672,0,14,0,1.197540,1,9
1,13,1981,0,2,0,2320,0,14,1,1.853060,4,9
2,13,1982,0,3,0,2940,0,14,0,1.344462,9,9
3,13,1983,0,4,0,2960,0,14,0,1.433213,16,9
4,13,1984,0,5,0,3071,0,14,0,1.568125,25,5
5,13,1985,0,6,0,2864,0,14,0,1.699891,36,2
6,13,1986,0,7,0,2994,0,14,0,-0.720263,49,2
7,13,1987,0,8,0,2640,0,14,0,1.669188,64,2
8,17,1980,0,4,0,2484,0,13,0,1.675962,16,2
9,17,1981,0,5,0,2804,0,13,0,1.518398,25,2

## 1. OLS with Control: Ceteris Paribus -- to control what we can see

In [13]:
import statsmodels.formula.api as smf

ols_model = smf.ols('lwage ~ expersq + union + married + hours', data=data).fit()
ols_model.summary().tables[1]

## 2. Using Fixed Effect -- to control what we cannot see

### 2-1. Entity Effects (time-fixed confounders)

In [14]:
from linearmodels.panel import PanelOLS
mod = PanelOLS.from_formula("lwage ~ expersq + union + married + hours + EntityEffects",
                            data=data.set_index(["nr", "year"]))

result = mod.fit(cov_type='clustered', cluster_entity=True)
result.summary.tables[1]

### 2-2. Time Effects (entity-fixed confounders)

In [15]:
from linearmodels.panel import PanelOLS

mod = PanelOLS.from_formula("lwage ~ expersq + union + married + hours + TimeEffects",
                            data=data.set_index(["nr", "year"]))

result = mod.fit(cov_type='clustered', cluster_time=True)
result.summary.tables[1]

### 2-3. Use Both Entity and Time Effects

In [16]:
from linearmodels.panel import PanelOLS

mod = PanelOLS.from_formula("lwage ~ expersq + union + married + hours + EntityEffects + TimeEffects",
                            data=data.set_index(["nr", "year"]))

result = mod.fit(cov_type='clustered', cluster_entity=True, cluster_time=True)
result.summary.tables[1]

## Example discussion
<script src="https://utteranc.es/client.js"
        repo="myeongseok-gwon/teachbook-test"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>