# Synthetic Difference-in-Difference (SDID)

- Synthetic Control을 먼저 읽고 오세요.
- Synthetic Difference-in-Difference (SDID)는 Synthetic Control과 DiD를 결합한 방법입니다.
- 더 Robust하다고 합니다. 그래서 Synthetic Control만 돌리면, SDID도 돌려보라고 할 수도 있겠네요. 두 specification이 같은 주장을 지지하면 아무래도 더 신뢰할 수 있겠죠.

In [2]:
import pandas as pd

cigar = pd.read_csv("../data/matheus_data/smoking.csv")

cigar.query("california == True").head()

,state,year,cigsale,lnincome,beer,age15to24,retprice,california,after_treatment
62,3,1970,123.000000,NaN,NaN,0.178158,38.799999,True,False
63,3,1971,121.000000,NaN,NaN,0.179296,39.700001,True,False
64,3,1972,123.500000,9.930814,NaN,0.180434,39.900002,True,False
65,3,1973,124.400002,9.955092,NaN,0.181572,39.900002,True,False
66,3,1974,126.699997,9.947999,NaN,0.182710,41.900002,True,False

## 질문이나 의견을 남겨주세요.
<script src="https://utteranc.es/client.js"
        repo="myeongseok-gwon/teachbook-test"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>